.gitignore                          export-ignore
.gitattributes                      export-ignore
icingaexchange.yml                  export-ignore
/screenshots/*                      export-ignore

